@import '../../../styles/settings';

.comments-main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.comments-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-text-light;
  font-family: $font-text;
  font-size: $base-size;

  p {
    margin: 0;
  }
}

.comments-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  input {
    border: 1px solid $color-comment-border;
    padding: 20px 10px;
    outline: none;
    width: 100%;
    margin: 10px 0;
  }
}

.add-button {
  height: 40px;
  margin-left: 20px;
}

.comments-progress {
  cursor: progress;
}

